# Ideal
/.project
/**/*/.project
/**/*/.settings
/**/*/.classpath
/**/*/.idea
/.idea
/**/*.iml
/**/*/.factorypath
*.DS_Store
/**/*/.gradle
/.gradle

# Logs
/**/logs/
/logs/
/LOG_DIR_IS_UNDEFINED/

# Pom backup
/pom.xml.versionsBackup
/**/*/pom.xml.versionsBackup

# Maven Build
/**/*/target
/target/
/**/*/dao/generated/

rebel.xml
rebel-remote.xml

# uniform version management
*.flattened-pom.xml
/docs
/.vscode
/.cursor/plans

/.output.txt